<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>INTRO_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>FPS_GROUP</string>
				<key>footerText</key>
				<string>FPS_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>com.apple.UIKit</string>
				<key>key</key>
				<string>CAHighFPSCustomFPS</string>
				<key>default</key>
				<real>0</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>120</real>
				<key>showValue</key>
				<true />
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>SYSTEMWIDE_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>defaults</key>
				<string>com.apple.UIKit</string>
				<key>key</key>
				<string>CAHighFPSSystemWide</string>
				<key>default</key>
				<false />
				<key>label</key>
				<string>SYSTEMWIDE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>APPLICATIONS_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>ATLApplicationListMultiSelectionController</string>
				<key>defaults</key>
				<string>com.apple.UIKit</string>
				<key>key</key>
				<string>CAHighFPS</string>
				<key>label</key>
				<string>APPLICATIONS</string>
				<key>sections</key>
				<array>
					<dict>
						<key>sectionType</key>
						<string>User</string>
					</dict>
					<dict>
						<key>sectionType</key>
						<string>System</string>
					</dict>
				</array>
				<key>showIdentifiersAsSubtitle</key>
				<true />
				<key>defaultApplicationSwitchValue</key>
				<false />
				<key>useSearchBar</key>
				<true />
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>BLACKLISTED_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>ATLApplicationListMultiSelectionController</string>
				<key>defaults</key>
				<string>com.apple.UIKit</string>
				<key>key</key>
				<string>CAHighFPSBlacklist</string>
				<key>label</key>
				<string>BLACKLISTED</string>
				<key>sections</key>
				<array>
					<dict>
						<key>sectionType</key>
						<string>User</string>
					</dict>
					<dict>
						<key>sectionType</key>
						<string>System</string>
					</dict>
				</array>
				<key>showIdentifiersAsSubtitle</key>
				<true />
				<key>defaultApplicationSwitchValue</key>
				<false />
				<key>useSearchBar</key>
				<true />
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>METAL_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>defaults</key>
				<string>com.apple.UIKit</string>
				<key>key</key>
				<string>CAHighFPSEnableMetal</string>
				<key>default</key>
				<true />
				<key>label</key>
				<string>METAL_LABEL</string>
			</dict>
		</array>
		<key>title</key>
		<string>CAHighFPS</string>
	</dict>
</plist>
